@import "tailwindcss";

:root {
  /* colors */
  --red-1: #c12225;
  --red-2: #9e1313;
  --gray-1: #7d7d7d;
  --gray-2: #a09b9b;
}

@theme {
  /* colors */
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);

  /* fonts */
  --font-agbalumo: "Agbalumo", cursive;
  --font-inter: "Inter", sans-serif;
}
